{% extends "base.html" %}
{% block title %}<title>Edit User</title>{% endblock %}
{% block content %}
<h3>Edit User</h3>
	<hr>
	<form method="POST" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="host_name">用户名:</label>
    <div class="controls">
      <input id="id_username" class="disabled" type="text" name="username" maxlength="75" value="{{user.username}}" disabled />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="host_w_ip">密码:</label>
    <div class="controls">
    <input id="id_password" type="text" name="password" maxlength="75" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="host_n_ip">姓名:</label>
    <div class="controls">
      <input id="id_xingming" type="text" name="xingming" maxlength="75" value="{{user.userprofile.name}}" />
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="host_n_ip">手机:</label>
    <div class="controls">
      <input id="id_iphone" type="text" name="iphone" maxlength="75" value="{{user.userprofile.iphone}}" />
    </div>
  </div>
  
    <div class="control-group">
    <label class="control-label" for="host_n_ip">邮箱:</label>
    <div class="controls">
      <input id="id_email" type="text" name="email" maxlength="75" value="{{user.email}}" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn" id="send" >Save User</button>
    </div>
  </div>
</form>
{% endblock %}